/* Footer.css */
.footer-container {
    background-color: rgb(8, 8, 56); /* Warna latar belakang biru tua */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .footer-left,
  .footer-center,
  .footer-right {
    flex: 1;
    text-align: center;
  }
  
  .footer-center a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin: 0 10px;
  }
  
  .footer-center a:hover {
    color: lightblue;
  }
  